.red-block{
  border: 2px solid green;
  background: darkred;
  width: 30px;
  height: 30px;
  margin: 1em;
}
#block2 .red-block{
  background: purple;
  width: 30px;
  height: 30px;
  margin: 1em;
}
#blocks{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  background-color: aqua;
}

#block2{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  background-color: lime ;
}
